* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.body {
    font-family: "Gilroy"sans-serif;
}

.first-page {
    padding-top: 20px;
    background: linear-gradient(42.14deg, #9796f0 -17.31%, #fbc7d4 106.72%);
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;

    .header-logo img {
        width: 300px;
        height: 50px;
    }

    .header-input .header-search {
        width: 300px;
        height: 40px;
        border: 2px solid #272525;
        border-radius: 90px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 105.5%;
        color: #8e8e8e;
        margin-right: 35px;
        background: linear-gradient(42.14deg, #9796f0 -17.31%, #fbc7d4 106.72%);
        padding-left: 20px;
    }

    .header-btn {
        width: 200px;
        height: 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 105.5%;
        color: #eef1f6;
        background: #1fab8a;
        box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
        border: transparent;
        border-radius: 90px;
    }
}

.navbar {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(250, 251, 253, 0.44);
    background-image: url(../assets/pic/banner.svg);
    background-position: right;
    background-repeat: no-repeat;

    .navbar-menu {
        .navbar-list {
            display: flex;
            flex-direction: row;
            justify-content: start;
        }

        .navbar-list ul li {
            height: 100%;
        }

        .navbar-list-items a:hover {
            width: 150px;
            font-size: 20px;
            height: 80px;
            background: #272525;
            box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
                0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
            border-radius: 6px;
            color: white;
        }

        .navbar-list-items a {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            display: inline-block;
            height: 100%;
            line-height: 105.5%;
            transition: 0.2s;
            color: #272525;
            list-style-type: none;
            text-decoration: none;
            margin-right: 30px;
        }

        .navbar-list-items a::after {
            transition: all 0.5s;
        }
    }

    .navbar-baner-title {
        font-family: "Neutraface Display";
        font-style: normal;
        font-weight: 900;
        font-size: 38.0443px;
        line-height: 38px;
        text-transform: lowercase;
        color: #3c336c;
    }
}

.slide {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 64px;
    background-image: url(../assets/pic/slide.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 90px;

    .slide-content {
        width: 620px;
    }

    .slide-title {
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        line-height: 60px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #272525;
    }

    .slide-description {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.065em;
        color: #272525;
        margin-bottom: 50px;
    }

    .slide-items {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .slide-items-content {
        margin-right: 40px;

        .slide-items-content-text {
            width: 150px;
            text-align: center;
        }
    }
}

.second-page {
    background-color: #eef1f6;
    margin-bottom: 90px;
    height: 700px;

    .popular-content {
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .popular-naming {
        display: flex;
        flex-direction: column;
    }

    .popular-naming img {
        margin-left: 15px;
    }

    .popular-title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #272525;
    }

    .popular-description {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.065em;
        text-transform: lowercase;
        color: #454747;
    }

    .popular-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 5vw);
    }

    .popular-list-item-1 {
        width: 800px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .popular-list-item-1 img {
        width: 800px;
    }

    .popular-list-item-2 {
        width: 350px;
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
        column-gap: 15px;
    }

    .popular-list-item-2 img {
        width: 400px;
    }

    .popular-list-item-3 {
        width: 170px;
        height: 170px;
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .popular-list-item-3 img {
        width: 10px;
        height: 170px;
        margin-left: 50px;
    }

    .popular-list-item-4 {
        width: 170px;
        height: 170px;
        grid-column-start: 6;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .popular-list-item-4 img {
        width: 170px;
        height: 170px;
    }
}

.third-page {
    display: flex;
    height: 475px;
    padding-left: 50px;

    .creative {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        .creative-content {
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            width: 100%;

            .creative-naming {
                width: 700px;
                height: 279px;
            }

            .creative-buttons {
                display: flex;
                gap: 30px;
                margin-top: 70px;

                .explore {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #fafafa;
                    align-items: center;
                    padding-left: 66px;
                    gap: 10px;
                    width: 280px;
                    height: 60px;
                    left: 161px;
                    top: 2133px;
                    background: #272525;
                    border-radius: 60px;
                }

                .create {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #272525;
                    align-items: center;
                    padding-left: 86px;
                    gap: 10px;
                    width: 280px;
                    height: 60px;
                    left: 470px;
                    top: 2133px;

                    background: #eef1f6;
                    border: 1px solid #eef1f6;
                    border-radius: 60px;
                }
            }

            .creative-logo {
                margin-bottom: 15px;
            }

            .creative-title {
                width: 700px;
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 38px;
                color: #272525;
            }

            .creative-description {
                width: 592px;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0.065em;
                color: #454747;
            }

            .creative-logo {
                margin-bottom: 15px;
            }

            .creative-title {
                width: 700px;
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 38px;
                color: #272525;
            }

            .creative-description {
                width: 592px;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0.065em;
                color: #454747;
            }
        }

        .creative-background {
            width: 406px;
            height: 406px;
            background-image: url(../assets/pic/donttouch.svg);
            background-repeat: no-repeat;
            background-position: right;
            left: 1219.96px;
            top: 1780px;
            background: linear-gradient(38.95deg, #9796f0 -10.38%, #ffe0e8 107.56%);
            box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
                0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
            border-radius: 15px;
            transform: rotate(15deg);
        }

        .creative-background::after {
            position: absolute;
            width: 406px;
            height: 406px;
            background: linear-gradient(38.95deg, #9796f0 -10.38%, #ffe0e8 107.56%);
            opacity: 0.5;
            box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
                0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
            border-radius: 15px;
            transform: rotate(-15deg);
        }

        .creative-background img {
            width: 400px;
            height: 400px;
        }
    }
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    height: 400px;

    p {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #222227;
        align-items: center;
        margin-bottom: 70px;
    }

    .partners-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .partners-list-item img {
        width: 175px;
        height: 63px;
    }
}

.other-products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 70px;

    .other-products-image img {
        width: 500px;
    }

    .other-products-description {
        display: flex;
        flex-direction: column;

        .other-products-naming {
            width: 500px;
        }

        .naming-title {
            width: 500px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 130%;
            color: #222227;
        }

        .naming-text {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.065em;
            color: #454747;
        }
    }

    .other-products-list {
        display: flex;
        flex-direction: row;
        margin-top: 15px;

        .other-products-list-item {
            width: 115px;
            height: 115px;
            background: linear-gradient(38.95deg, #9796f0 -10.38%, #ffe0e8 107.56%);
            box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
                0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
            border-radius: 100%;
            margin-right: 20px;
            display: flex;
        }

        .other-products-list-item img {
            width: 115px;
            height: 115px;
        }
    }
}

.fifth-page {
    background: linear-gradient(38.95deg, #9796f0 -10.38%, #ffe0e8 107.56%);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 60px;

    .idea-image img {
        width: 400px;
        height: 300px;
    }

    .idea-description {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .idea-naming {
        width: 556px;
    }

    .idea-naming-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #222227;
    }

    .idea-naming-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.065em;
        color: #454747;
    }

    .idea-form {
        padding-left: 90px;
        align-items: center;
        height: 235px;
    }

    .idea-form [id="fname"] {
        width: 250px;
        border: transparent;
        text-align: start;
        border-bottom: 1px solid #000;
        margin-right: 35px;
        background: transparent;
    }

    .idea-form [type="submit"] {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        align-items: center;
        text-align: center;
        color: #ffffff;
        width: 200px;
        height: 50px;
        background: #1fab8a;
        border-radius: 60px;
        border: transparent;
    }

    .idea-form-text {
        width: 556px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #222227;
        margin-bottom: 50px;
    }
}

.footer-bar {
    display: flex;
    padding-top: 60px;
    padding-left: 50px;
    background: linear-gradient(61.14deg,
            rgba(151, 150, 240, 0.5) -27.64%,
            rgba(251, 199, 212, 0.5) 135.22%);
    height: 330px;
}

.footer-left-side {
    display: flex;
    flex-direction: column;

    .footer-left-side-logo img {
        width: 400px;
        height: 50px;
    }

    .footer-left-side-text {
        width: 400px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.065em;
        color: #454747;
        margin-bottom: 50px;
    }

    .footer-left-side-contact p:first-child {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1px;
        color: #272525;

        .footer-left-side-email p a {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            text-decoration-line: underline;
            color: #272525;
        }
    }

    .fa-brands {
        width: 27px;
        height: 27px;
    }
}

.footer-center {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 30px;
    margin-right: 60px;

    .list-items a {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 52px;
        color: #454747;
        text-decoration: none;
    }

    .list-items-name a {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        color: #272525;
        text-decoration: none;
    }
}

.footer-right-side {
    width: 400px;

    .right-side-title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        color: #272525;

    }

    .right-side-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #8F90A6;
        width: 265px;
    }

    .footer-input [type="tel"] {
        width: 265px;
        height: 44px;
        background: #FFFFFF;
        border: 2px solid #272525;
        border-radius: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #272525;
        padding-left: 10px;

    }
    .submit{
        margin-left: -60px;
        width: 30px;
        height: 30px;
        background: #524983;
        border-radius: 100%;
        color: white;
        border: 0;
        text-align: center;
    }
}

.rights {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-decoration-line: underline;
    color: #9FA3B2;
    background: linear-gradient(61.14deg,
            rgba(151, 150, 240, 0.5) -27.64%,
            rgba(251, 199, 212, 0.5) 135.22%);
            padding-bottom: 20px;
}